.iScrollDropdownMenu-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  -ms-touch-action: none;
  .scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;

    > ul {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      > li {
        float: left;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        ul.dropdown-menu {
          display: none;
        }
      }
    }
  }
  .indicator {
    position: absolute;
    z-index: 2;
    color: #000;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    width: 30px;
    height: 100%;
    background: #FFF;
    .fa {
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 2px;
      padding: 5px;
    }
  }
}

.iScrollDropdownMenu-dropdowns {
  position: absolute;
  width: 100%;
  .dropdown-menu {
    display: none;
    position: relative;
    ul {
      padding: 0;
      list-style: none;
    }
    button[data-toggle=close] {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}